{% extends "directories/base.html" %}
{% load static %}
{% load base_tags %}
{% load base_filters %}
{% load bootstrap_pagination_tags %}
{% load directory_tags %}
{% load search_tags %}
{% load nav_tags %}
{% load cstreet_tags %}
{% load custom_dir_tags %}

{% block title %}
    Calendar of Events - {{ block.super }}
{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link rel="alternate" type="application/rss+xml" title="{% trans 'Latest' %}  {% firstof MODULE_DIRECTORIES_LABEL_PLURAL trans 'Directories' %}" href="{% url 'events' %}" />
    {% endblock %}

{% block hero %}
  <hero-image class="w-full overflow-hidden">
    {% static 'img/JamesAllen.jpg' as picture %}
    <!-- This image just isn't big enough. I need it to at least be 1500 px. -->
    <picture class="h-full w-full">
        <source media="(max-width:500px)"
            srcset="{{ picture | imgproxy:"sm-hero" }}">
        <source media="(min-width:501px)"
            srcset="{{ picture | imgproxy:"calendar-hero" }}">
        <img class="w-full"
            src="{{ picture }}" alt="{% firstof room.name trans "Untitled" %}">
    </picture>
  </hero-image>

  <h1 id="hero-title">{{ headline }}</h1>
{% endblock %}

{% block content %}
    <script src="{% static 'js/calendar.js' %}"></script>

    <b-cal>
        {% for date, event_ids in events.dates.items %}
        <div slot="{{ date }}" class="flex flex-col items-center justify-start space-y-2">
            {% for id in event_ids %}
                {% lookup_event id as event %}
                <a
                    data-controller="popup"
                    data-action="mouseover->popup#show mouseout->popup#hide"
                    data-popup-content="{{ event.description }}"
                    class="relative block w-full bg-teal shadow-btn-teal rounded-md text-gray-100 hover:text-gray-100 px-2 py-1"
                    href="{{ event.social_link }}">
                    {{ event.summary }}
                    <div data-target="popup.display"
                        class="dropdown-menu hidden w-double my-1 px-1 border border-teal text-xs leading-snug -left-50"
                    ></div>
                </a>
            {% endfor %}
        </div>
        {% endfor %}
    </b-cal>
{% endblock %}
