
{% load static %}
<body>

    <script src="{% static 'js/photoset.js' %}"></script>

    <div class="photoset" data-controller="photoset" data-query="{{ query }}">
      <div
        class="my-4 grid grid-cols-3 gap-4"
        data-target="photoset.grid"
        data-controller="image-grid"
        data-image-grid-padding-value="0"
        data-image-grid-target-height-value="150"
        data-image-grid-display-value="inline-block">
        {% for photo in photos %}
          <div class="">
            <a href="{% url "photo" photo.pk %}">
              <img src="{{ photo.get_small_url }}" alt="{{ photo.title }}">
            </a>
          </div>
        {% endfor %}
        <!-- <i class="fas fa-spinner animation-spin"></i> -->
      </div>

      <!-- <a data-reflex="click->Photoset#resolve" class="btn btn-primary">Resolve Images</a> -->
    </div>
</body>
