{% load base_tags %}
{% load perm_tags %}
{% has_perm user site_settings.change_setting as can_edit_setting %}
<ul id="t-admin-megamenu-helpdesk-dd" class=" absolute left-0 z-50 float-left hidden list-none p-0	 py-2 mt-1 text-base bg-white border border-grey-400 rounded" role="menu">
    <li>
        <div class="yamm-content content-dropdown">
            <div class="flex flex-wrap">
                <ul class="list-unstyled content-dropdown-col sm:w-1/6 pr-4 pl-42 sm:w-1/6 pr-4 pl-42">
                    <li><a href='{% url 'helpdesk_dashboard' %}'><span class="glyphicon glyphicon-dashboard"></span> <span class="nav-text">{% trans "Dashboard" %}</span></a></li>
                    <li><a href='{% url 'helpdesk_list' %}'><span class="glyphicon glyphicon-tags"></span> <span class="nav-text">{% trans "Search Tickets" %}</span></a></li>
                    <li><a href='{% url 'helpdesk_submit' %}'><span class="glyphicon glyphicon-plus"></span> <span class="nav-text">{% trans "New Ticket" %}</span></a></li>
                    {% if request.user.is_staff %}
                    <li><a href='{% url 'helpdesk_report_index' %}'><span class="glyphicon glyphicon-stats"></span> <span class="nav-text"> {% trans "Stats" %}</span></a></li>
                    {% endif %}
                    {% if helpdesk_settings.HELPDESK_KB_ENABLED %}
                    <li><a href='{% url 'helpdesk_kb_index' %}'><span class="glyphicon glyphicon-tree-deciduous"></span> <span class="nav-text">{% trans "Knowledgebase" %}</span></a></li>
                    {% endif %}
                    {% if user_saved_queries_ %}
                    <li class="headerlink relative"><a class=" inline-block w-0 h-0 ml-1 align border-b-0 border-t-1 border-r-1 border-l-1" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-filter"></span> <span class="nav-text">{% trans "Saved Query" %} <b class="caret"></b></span></a>
                        <ul class=" absolute left-0 z-50 float-left hidden list-none p-0	 py-2 mt-1 text-base bg-white border border-grey-400 rounded">
                            {% for q in user_saved_queries_ %}
                                <li><a href="{% url 'helpdesk_list' %}?saved_query={{ q.id }}">{{ q.title }}
                                    {% if q.shared %}
                                        (Shared{% ifnotequal user q.user %} by {{ q.user.get_username }}{% endifnotequal %})
                                    {% endif %}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    <li><a href='{% url 'helpdesk_user_settings' %}'><span class="glyphicon glyphicon-user"></span> <span class="nav-text">{% trans "User Settings" %}</span></a></li>
                </ul>
             </div>
        </div>
    </li>
</ul>
