{% load base_tags %}
{% load perm_tags %}
{% has_perm request.user site_settings.change_setting as can_edit_setting %}
{% if app_object %}
    {% has_perm request.user make_payments.view_make_payment app_object as can_view %}
{% endif %}
<ul class=" absolute left-0 z-50 float-left hidden list-none p-0	 py-2 mt-1 text-base bg-white border border-grey-400 rounded">
    <li>
        <div class="yamm-content custom-yamm-content content-dropdown">
            <div class="flex flex-wrap">
                <ul class="list-unstyled content-dropdown-col sm:w-1/6 pr-4 pl-42 sm:w-1/6 pr-4 pl-42">
                    {% if can_edit_setting %}
                        <li class="content-item">
                            <span class="app-name">
                                <a href="{% url 'settings.index' 'module' 'make_payment' %}">{% trans "Settings" %}</a>
                            </span>
                        </li>
                    {% endif %}
                    {% if app_object %}
                        <li class="content-item">
                            <span class="app-name">
                                <a href="{% url 'make_payment.view' app_object.pk %}">{% trans "View" %}</a>
                            </span>
                        </li>
                    {% endif %}
                    <li class="content-item">
                        <span class="app-name">
                            <a href="{% url 'make_payment.add' %}">{% trans "Add" %}</a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </li>
</ul>
