<!-- Tendenci Specific Load Tags (Delete as Needed)
=========================================================== -->
{% load base_filters %}
{% load base_tags %}
{% load theme_tags %}
{% load photo_tags %}
{% load news_tags %}
{% load article_tags %}
{% load event_tags %}
{% theme_extends "base.html" %}

<!-- Meta Tags (for optimal SEO)
=========================================================== -->
{% block title %}{{ block.super }} | {{ SITE_GLOBAL_SITEPRIMARYKEYWORDS }}{% endblock %}

{% block meta_description %}{{ block.super }}{% endblock %}

{% block meta_keywords %}{{ block.super }}, {{ SITE_GLOBAL_SITESECONDARYKEYWORDS }}{% endblock %}

<!-- Start of the Body
=========================================================== -->
{% block body_ids %}sub{% endblock body_ids %}
{% block body_classes %}sub{% endblock body_classes %}
{% block html_body %}

<!-- Header Starts
=========================================================== -->
{% theme_include "header.html" %}<!-- Pulls in Header Include -->
<!-- Header Ends -->
<div class="hero {% block hero_classes %}{% endblock %}">
  {% block hero %}
    <div class="focuspoint"
      data-focus-x="-0.18" data-focus-y="0.14"
      data-image-w="2000" data-image-h="1092">
      <img src="{% static 'img/Streetscape.jpg' %}">
    </div>

    <h1 id="hero-title">Historic C-Street Welcomes You</h1>
  {% endblock %}
</div>
<div id="page-top" class="container flex sm:flex-col md:flex-row-reverse">
  <div class="{% block sidebar_classes %}sidebar flex flex-col items-center md:m-4 py-4 px-2 md:bg-gray-600{% endblock %}" id="sidebar">

      {% block sidebar %}
      <!-- {% theme_include "sidebar.html" %} -->
      {% endblock %}

  </div>  <!-- close side-bar -->
  <div class="{% block content_classes %}flex-1 flex-col{% endblock %}">

    {% block content_messages %}
    {% spaceless %}{% theme_include "base/messages.html" %}{% endspaceless %}
    {% endblock %}

    {% block content %}
    {# Main content goes here #}
    <div class="jumbotron">
      <h1>{% trans "Welcome to your Tendenci powered site!" %}</h1>
    </div>
    {% endblock %}

  </div> <!-- close content -->


</div> <!-- close page-top -->

<footer class="{% block footer_classes %}col-xs-12 col-sm-12 col-md-12{% endblock %}">
  {% block footer %}
  {% spaceless %}{% theme_include "footer.html" %}{% endspaceless %}
  {% endblock %}
</footer>

{% endblock %}
