{% load base_tags %}
{% load nav_tags %}
{% load box_tags %}
{% load theme_tags %}

<!-- start: navbar outer -->
<nav id="site-navbar" class="navbar navbar-fixed-top navbar-expand-lg navbar-expand-md">
<!-- logo -->
  <div class="navbar-brand" href="/">
    {% box 1 %}
  </div>
<!-- responsive btn -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navTop" aria-controls="navTop" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
<!-- navigation -->
  <div class="navbar-collapse d-flex flex-row justify-content-around align-content-end" id="navTop">
    <!-- main nav -->
    {% nav 1 %}
  </div>
</nav>
<!-- end: navbar outer -->
