<!--
   Attribution:
   Copyright 
   Licensed under the Apache License, Version 2.0 (the "License");you may not use this file except in compliance with the License.
   You may obtain a copy of the License at https://www.apache.org/licenses/LICENSE-2.0
   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions andlimitations under the License.
   -->
   {# load static #}
   
   {% extends "base.html.jinja" %}
   <!-- Meta Tags (for optimal SEO)
      =========================================================== -->
   {% block title %}{{ super() }} | {{ SITE_GLOBAL_SITEPRIMARYKEYWORDS }}{% endblock %}
   {% block meta_description %}{{ super() }}{% endblock %}
   {% block meta_keywords %}{{ super() }}, {{ SITE_GLOBAL_SITESECONDARYKEYWORDS }}{% endblock %}
   
   <!-- Start of the Body
      =========================================================== -->
   {% block body_ids %}home{% endblock body_ids %}
   {% block body_classes %}home{% endblock body_classes %}
   {% block html_body %}
   <!-- begin: header -->
   {% include "header.html" %}<!-- Pulls in Header Include -->
   <div id="front-page-hero" class="hero">
     <div class="focuspoint"
       data-focus-x="-0.18" data-focus-y="0.14"
       data-image-w="2000" data-image-h="1092">
       {% set picture = static('img/Streetscape.jpg') %}
       <picture class="h-full w-full">
           <source media="(max-width:500px)"
               srcset="{{ picture | imgproxy("sm-hero") }}">
           <source media="(min-width:501px)"
               srcset="{{ picture | imgproxy("front-hero") }}">
           <img class="w-full"
               src="{{ picture }}" alt="{{ page_title }}">
       </picture>
     </div>
   
     <h1 id="hero-title" class=""><img src="themes/c-street-2020/media/img/SixBlocks.png" alt="Six Blocks of Fun!"></h1>
     <nav id="hero-nav" class="relative w-full">{% nav 4 %}</nav>
   </div>
   <!-- end: header -->
   <div id="page-top-home" role="main">
     
   
      <!-- Footer starts
         =========================================================== -->
      <footer>
         {% include 'footer.html' %}
      </footer>
      <!-- Footer Ends -->
   </div>
   {% endblock %} <!-- Ends the Body -->
   {% block extra_body %}
   {{ super.block }}
   
   {% endblock extra_body %}
   