{% extends "base.html.jinja" %}
{# load custom_dir_tags #}


{% block title %}
    {{ headline }} - {{ super() }}
{% endblock %}

{% block extra_head %}
    {{ super() }}
    <link rel="alternate" type="application/rss+xml" title="Directories" href="{{ url(directory.feed) }}" />
{% endblock %}

{% block content_classes %}{{ super() }} t-search-view{% endblock %}

{% block hero %}
    <hero-image class="absolute w-full">
        {% set picture = static(hero) %}
        <picture class="h-full w-full">
            <source media="(max-width:500px)"
                srcset="{{ picture | imgproxy("sm-hero") }}">
            <source media="(min-width:501px)"
                srcset="{{ picture | imgproxy("hero") }}">
            <img class="w-full"
                src="{{ picture }}" alt="{{ page_title }}">
        </picture>
    </hero-image>
    <hero-block class="w-full h-full flex flex-col justify-end items-center py-2">
        <h1 id="hero-title">{{ headline }}</h1>
        <nav id="hero-nav" class="relative sm:w-full md:w-2/5 flex flex-row items-center justify-center">
            <ul>
                {% for cat_slug, cat in all_cats.items() %}
                    <li>
                        <a href="http://{{ request.META.HTTP_HOST }}/{{ cat_slug }}">
                            {{ cat.headline }}
                        </a>
                    </li>
                {% endfor %}
            </ul>

        </nav>
    </hero-block>
  
{% endblock %}

{% block sidebar %}
    
{% endblock %}

{% block content %}
    <script id="sorting-controller" src="{{ static('js/sorting.js') }}"></script>
    <style>
        ul[data-target="sorting.categories"][active] button[aria-pressed="true"]  {
            background: rgba(115, 166, 136, 1);
        }
        ul[data-target="sorting.filters"][active] li {
            background: none;
        }
        ul[data-target="sorting.filters"][active] button[aria-pressed="true"] {
            color: white;
            background: #2d4066;
        }
        ul[data-target="sorting.filters"][active] button:not([aria-pressed="true"]) {
            background: #9fb1be;
            color: #2d4066;
        }
    </style>
    <div class="sorting"
        data-controller='sorting'>

        {% if cat == "rentals" %}
            {% airbnb %}
        {% endif %}
            <!-- Sortable grid. -->
            <sortable-grid class="grid grid-cols-5 sm:grid-cols-2 gap-4" data-target="sorting.grid">
                {% for id, entry in directories.items %}
                    <article id="entry-{{ id }}" class="border border-opacity-50 flex flex-col items-center justify-between p-2"
                    data-sorting-target="item"
                    data-sorting-metadata="{{ entry.sorting }}">
                        <a href="url entry.slug"
                            aria-hidden="true">
                            <!-- TODO: Enable this template tag once I've added the entries to the database so that Django can query them and know which URLs to reserve. -->
                            <picture class="h-full w-full">
                                <!-- <source srcset="{{ entry.picture_url | imgproxy("thumb" }}"> -->)
                                <img src="{{ entry.picture_url }}"
                                    alt="{{ entry.name }}">
                            </picture>
                        </a>
                    
                        <address class="flex flex-col text-center">
                            <a href="url entry.slug">
                            <!-- TODO: Enable this template tag once I've added the entries to the database so that Django can query them and know which URLs to reserve. -->
                                <span class="text-2xl inline-block">
                                    {{ entry.name }}</span>
                                <span class="serif italic text-lg inline-block">
                                    {{ entry.address }}</span>
                            </a>
                            {% if entry.web %}
                                <a href="{{entry.web}}" class="text-green text-lg">
                                    Visit them at <span class="mono">{{entry.web_display}}</span>!
                                </a>
                            {% endif %}
                            <div class="flex flex-row flex-wrap justify-center">
                                {% if entry.facebook %}
                                <div class="px-2">
                                    <a href="{{entry.facebook}}" class="text-green text-lg">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </div>
                                {% endif %}
                                {% if entry.instagram %}
                                <div class="px-2">
                                    <a href="{{entry.instagram}}" class="text-green text-lg">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                                {% endif %}
                                {% if entry.twitter %}
                                <div class="px-2">
                                    <a href="{{entry.twitter}}" class="text-green text-lg">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </div>
                                {% endif %}
                                {% if entry.linkedin %}
                                <div class="px-2">
                                    <a href="{{entry.linkedin}}" class="text-green text-lg">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </address>
                        <aside class="w-full">
                            <!-- TODO: Tags and such can go here. -->
                        </aside>
                    </article>
                {% endfor %}
            </sortable-grid>
    </div>
    
    <div>
        <h1>Context</h1>
        <p>{{ full_context }}</p>
    </div>
{% endblock %}
