# Ignore all dotfiles...
.*

# Ignore all pyc file
*.pyc

# except for .gitignore and .gitkeep
!.gitignore
!.gitkeep

# also don't ignore Gitpod files
!.gitpod.Dockerfile
!.gitpod.yml

# ignore files uploaded to the site to save space
media
# but not theme files
!themes/*/media
# ignore any node_modules directories
node_modules
themes/*/node_modules

# ignore settings
settings.py

# ignore the symlink monstrosity I use to mock the site
mock

whoosh_index/*
!whoosh_index/README
