# Ignore all dotfiles...
.*

# except for .gitignore and .gitkeep
!.gitignore
!.gitkeep

# Ignore all pyc file
*.pyc

# also don't ignore Gitpod files
!.gitpod.Dockerfile
!.gitpod.yml

# Ignore Pipfile.lock so that we can test multiple versions
Pipfile.lock

backup
secrets

Dropbox

# ignore files uploaded to the site to save space
media
media-original
media-download
# but not theme files
!themes/*/media
# ignore any node_modules directories
node_modules
themes/*/node_modules

# ignore private settings
secrets.json
credentials

# ignore generated static files
static
static-old

whoosh_index/*
!whoosh_index/README
