[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]

[requires]
python_version = "3.7"

[scripts]
run = "python manage.py runserver"
webpack = "npm run watch"
urls = "python manage.py show_urls |> introspection/urls.txt && code introspection/urls.txt"
