// @import '~bootstrap/scss/functions'

// @import 'variables'
// @import '~bootstrap'

@import "~bootstrap/scss/functions"
// @import "~bootstrap/scss/variables"
// copy content of "~bootstrap/scss/variables" to _myvariables.scss below and set everything there
@import 'variables'
@import "~bootstrap/scss/variables"
@import "~bootstrap/scss/mixins"
@import "~bootstrap/scss/root"
@import "~bootstrap/scss/reboot"
@import "~bootstrap/scss/type"
@import "~bootstrap/scss/images"
@import "~bootstrap/scss/code"
@import "~bootstrap/scss/grid"
@import "~bootstrap/scss/tables"
@import "~bootstrap/scss/forms"
@import "~bootstrap/scss/buttons"
@import "~bootstrap/scss/transitions"
@import "~bootstrap/scss/dropdown"
@import "~bootstrap/scss/button-group"
@import "~bootstrap/scss/input-group"
@import "~bootstrap/scss/custom-forms"
@import "~bootstrap/scss/nav"
@import "~bootstrap/scss/navbar"
@import "~bootstrap/scss/card"
@import "~bootstrap/scss/breadcrumb"
@import "~bootstrap/scss/pagination"
@import "~bootstrap/scss/badge"
@import "~bootstrap/scss/jumbotron"
@import "~bootstrap/scss/alert"
@import "~bootstrap/scss/progress"
@import "~bootstrap/scss/media"
@import "~bootstrap/scss/list-group"
@import "~bootstrap/scss/close"
@import "~bootstrap/scss/toasts"
@import "~bootstrap/scss/modal"
@import "~bootstrap/scss/tooltip"
@import "~bootstrap/scss/popover"
@import "~bootstrap/scss/carousel"
@import "~bootstrap/scss/spinners"
@import "~bootstrap/scss/utilities"
@import "~bootstrap/scss/print"

@import 't7-base'

.dropdown-menu
  padding: 0
  min-width: 8rem

  li
    padding: 0 .3rem

  li:hover
    background-color: $blue

  li:not(:first-child)
    border-top: 1px solid $dropdown-border-color

#site-navbar
  transition: 0.6s cubic-bezier(0.645, 0.045, 0.355, 1)
  transition-property: font-size, line-height

  .btn
    font-size: 1.2rem
    padding: .2rem .75rem

  .dropdown:after
    content: " "
    position: absolute
    right: 10px
    bottom: -10px
    border-left: 15px solid transparent
    border-right: 15px solid transparent
    border-top: 10px solid $blue
    z-index: 100000

#site-navbar-obs
  height: 100vh

.t-admin-inline
  position: absolute !important
  bottom: -1.6rem !important
  left: 5px !important
  font-size: .7rem !important
  padding: .1rem !important
