@import '~bootstrap'
@import 'variables'

@import 't7-base'

#site-navbar
  // background-color: transparent
  // font-size: 1.5em
  transition: 0.6s cubic-bezier(0.645, 0.045, 0.355, 1)
  transition-property: font-size, line-height

  // li
  //   background: $gray-800
  //   color: $white

  .dropdown-toggle:after
    content: " "
    position: absolute
    right: 10px
    border-left: 20px solid transparent
    border-right: 20px solid transparent
    border-top: 10px solid $blue
    z-index: 100000

#site-navbar-obs
  height: 100vh
