<legendary-links class="block w-full">
    <nav class="w-full flex gap-2 justify-around sm:flex-col sm:justify-start sm:items-end sm:pr-4 hovering-parent md:flex-row pointer-events-box"
        style="pointer-events: bounding-box;"
    >
        <nav-btn
            id="navburger"
            class="
                sm:block md:hidden pointer-events-auto
                px-4 py-1 rounded-md bg-{{ scheme.top.bg }}
            "
        >
            <a href="#" class="font-bold text-{{ scheme.top.text }}">
                Explore ↯
            </a>
        </nav-btn>
        {% for group in nav_groups %}
        <link-group aria-labelledby="{{ group.0|slugify }}"
            class="pointer-events-auto hovering-parent overflow-visible relative parent-hover:block sm:hidden"
        >
            <nav-btn id="{{ group.0|slugify }}"
                class="inline-block px-4 py-1 rounded-md bg-{{ scheme.top.bg }}"
            >
                <a href="{{ group.1 }}"
                    class="text-{{ scheme.top.text }} text-xl font-bold font-serif"
                >
                    {{ group.0 }}
                </a>
            </nav-btn>
            {% if group.2 %}
                <li class="list-none min-w-max bg-{{ scheme.lv1.bg }} text-{{ scheme.lv1.text }} border-blue
                    hidden parent-hover:block absolute transition-all z-10 right-10"
                >
                    {% for entry in group.2 %}
                    <ul class="pointer-events-auto hovering-parent">
                        <a href="{{ entry.1 }}"
                            class="block w-full min-w-max px-2 text-{{ scheme.lv1.text }}
                                border-b-default border-glass-900"
                        >
                            {{ entry.0 }}</a>
                        {% if entry.2 %}
                            <li class="list-none pl-2
                            bg-{{ scheme.lv2.bg }} text-{{ scheme.lv2.text }} border-blue
                            text-italic
                            hidden parent-hover:block z-20"
                        >
                                {% for subentry in entry.2 %}
                                <ul>
                                    <a href="{{ subentry.1 }}"
                                        class="block min-w-max text-{{ scheme.lv2.text }} italic bg-transparent border-glass-300"
                                    >
                                        {{ subentry.0 }}</a>
                                </ul>
                                {% endfor %}
                            </li>
                        {% endif %}
                    </ul>
                    {% endfor %}
                </li>
            {% endif %}
        </link-group>
        {% endfor %}
    </nav>
</legendary-links>
