{% extends "explorer/base.html" %}
{% block sql_explorer_content %}
<div class="flex flex-wrap">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                {% if 'info' in message.tags %}
                    <div class="relative px-3 py-3 mb-4 border rounded text-green-800 border-green-600 bg-green-200" role="alert">{{ message }}</div>
                {% elif 'error' in message.tags %}
                    <div class="relative px-3 py-3 mb-4 border rounded text-red-800 border-red-600 bg-red-200" role="alert">{{ message }}</div>
                {% else %}
                    <div class="relative px-3 py-3 mb-4 border rounded text-teal-800 border-teal-600 bg-teal-200" role="alert">{{ message }}</div>
                {% endif %}
            {% else %}
                <div class="relative px-3 py-3 mb-4 border rounded text-teal-800 border-teal-600 bg-teal-200" role="alert">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if enable_form %}
    <form class="flex items-center" method="post" action="{% url 'explorer_extensions.export_page' %}">{% csrf_token %}
        {% for field in form %}
            {% if field.errors %}
                <div class="mb-4 error">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% else %}
                <div class="mb-4">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endif %}
        {% endfor %}
        <div class="mb-4">
            <button type="submit" class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap py-2 px-4 rounded text-base leading-normal  text-blue-100 bg-blue-500 hover:bg-blue-400" >Generate</button>
        </div>
    </form>
    {% endif %}
    {% if messages or enable_form %}
        <hr />
    {% endif %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Current Exports
        </div>
        <table class="w-full max-w-full mb-4 bg-transparent">
            <thead>
                <tr>
                    <td>Creation Date</td>
                    <td>Expiry Date</td>
                    <td>Author</td>
                    <td>Format</td>
                    <td>Status</td>
                    <td>Download</td>
                    <td>Delete</td>
                </tr>
            </thead>
        {% for obj in objects %}
            <tr>
                <td>{{ obj.start_dt }}</td>
                <td>
                    {% if obj.end_dt %}
                        {{ obj.end_dt }}
                    {% else %}
                    -----
                    {% endif %}
                </td>
                <td>{{ obj.author }}</td>
                <td>{{ obj.export_format }}</td>
                <td>{{ obj.status }}</td>
                <td>{% if obj.status == 'completed' %} <a href="{% url 'explorer_extensions.download_dump' obj.pk %}">Click to Download</a> {% endif %}</td>
                <td><a href="{% url 'explorer_extensions.delete_dump' obj.pk %}">Delete</a></td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="7" align="center">None. You can generate an export file by clicking the Generate button above.</td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
