{% block messages %}
    {% if request.impersonation_message %}
        <div class="relative px-3 py-3 mb-4 border rounded text-yellow-800 border-yellow-600 bg-yellow-200  opacity-0 in" role="alert">
            <button type="button" class="absolute top-0 bottom-0 right-0 px-4 py-3" data-dismiss="relative px-3 py-3 mb-4 border rounded" aria-label="{% trans 'Close' %}"><span aria-hidden="true">&times;</span><span class="">{% trans "Close" %}</span></button>
            {{ request.impersonation_message|safe }}
        </div>
    {% endif %}
    {% if messages %}
        {% for message in messages %}
            <div class="relative px-3 py-3 mb-4 border rounded  opacity-0 in{% if message.tags %} {{ message.tags }}{% endif %}" role="alert">
                <button type="button" class="absolute top-0 bottom-0 right-0 px-4 py-3" data-dismiss="relative px-3 py-3 mb-4 border rounded" aria-label="{% trans 'Close' %}"><span aria-hidden="true">&times;</span><span class="">{% trans "Close" %}</span></button>
                <p>{{ message|safe }}</p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
