{% extends "site_base.html" %}
{% load styled_forms %}
{% block extra_head %}
{{ block.super }}
{% endblock %}
{% block content %}
<div class="t">
  <div class="page-header">
    <h1 class="text-xl font-semibold">{% trans 'Security Check' %}</h1>
  </div>
  <p>{% trans 'Please enter your password again to access the sensitive site data.' %}</p>
  <form class="mb-4" method='post' action="{% url "password_again" %}?next={{ next }}" >{% csrf_token %}
    {{ form|styled_form }}
    <br />
    <input class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap py-2 px-4 rounded text-base leading-normal  text-blue-100 bg-blue-500 hover:bg-blue-400" type='submit' value='{% trans "Submit" %}'>
  </form>
</div>
{% endblock %}
