{% load base_filters %}
{% load base_tags %}
{% load photo_tags %}
{% load perm_tags %}
{% load humanize %}
{% if image %}
<ul class="list-unstyled t-meta-data">
    {% if image.tags %}
        <li>
            <strong>{% trans "Tag(s):" %}</strong>
            {% for tag in image.tags|tag_split %}
                <a class="label label-default" href="{% url 'photos_search' %}?q={{ tag }}">{{ tag }}</a>
           {% endfor %}
        <li>
    {% endif %}
    {% if user.is_authenticated %}
        {% if not user.profile.is_superuser %}
        {% if user == image.creator or user == image.owner %}
             <li><strong>{% trans 'Owned by you' %}</strong>{% if not image.status_detail == "active" %} - status: {{ image.obj_status }}{% endif %}</li>
        {% endif %}
        {% endif %}
        {% if user.profile.is_superuser or user == image.creator or user == image.owner %}
            {% meta_creator_owner image %}
        {% endif %}
    {% endif %}
</ul>
{% if user.profile.is_superuser %}
<nav class="flex flex-wrap list-none p-0 pl-0 mb-0bar navbar-default t-meta-editor-bar">
        <div class="container mx-auto mx-auto">
            <div class="flex-growlapse flex flex-wrap list-none p-0 pl-0 mb-0bar-collapse">
                <ul class="flex flex-wrap list-reset pl-0 mb-0 flex flex-wrap list-none p-0 pl-0 mb-0 t-meta-options-links">
                    <li>{{ image.obj_perms }}</li>
                    <li>{{ image.obj_status }}</li>
                </ul>
                <ul class="flex flex-wrap list-reset pl-0 mb-0 flex flex-wrap list-none p-0 pl-0 mb-0 navbar-right t-meta-options-links">
                   <li><a class="edit-link" href="{% url "photo_edit" image.pk %}">{% trans "Edit" %}</a></li>
                   <li><a class="eventlog-link" href="{% url "event_log.search" %}?object_id={{ image.pk }}&source={{ image.opt_app_label }}">{% trans "Eventlogs" %}</a></li>
                    <li class="relative">
                        <a href="#" class=" inline-block w-0 h-0 ml-1 align border-b-0 border-t-1 border-r-1 border-l-1" data-toggle="relative" role="button" aria-expanded="false">{% spaceless %}
                            {% trans "Options" %} <span class="caret"></span>
                        {% endspaceless %}</a>
                        <ul class=" absolute left-0 z-50 float-left hidden list-none p-0	 py-2 mt-1 text-base bg-white border border-grey-400 rounded" role="menu">
                           <li><a class="delete" href="{% url "photo_destroy" image.pk %}">{% trans "Delete" %}</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
</nav>
{% endif %}
{% endif %}
