{% load base_tags %}
{% load perm_tags %}
{% has_perm user campaign_monitor.add_campaign as can_add_campaign %}
{% has_perm user campaign_monitor.add_template as can_add_template %}
{% if not SITE_GLOBAL_HIDEALLTABS %}
<ul id="module-tabs" class="tabs">
    {% if user.is_authenticated and not SITE_GLOBAL_HIDETENDENCITABS %}
    <li class="relative" data-dropdown="dropdown">
        <a href="#" class=" inline-block w-0 h-0 ml-1 align border-b-0 border-t-1 border-r-1 border-l-1" data-toggle="relative">{% trans "Tendenci" %}</a>
        <ul class=" absolute left-0 z-50 float-left hidden list-none p-0	 py-2 mt-1 text-base bg-white border border-grey-400 rounded">
            <a href="{% url "dashboard" %}" title="{% trans 'Tendenci Home Page' %}">{% trans "Dashboard" %}</a>
            <li><a href="{% url "profile.index" %}">{% trans "My Profile" %}</a></li>
            <li><a href="{% url "auth_logout" %}">{% trans "Log Off" %}</a></li>
        </ul>
    </li>
    {% endif %}
    <li class="relative active" data-dropdown="dropdown">
        <a href="#" class=" inline-block w-0 h-0 ml-1 align border-b-0 border-t-1 border-r-1 border-l-1" data-toggle="relative">{% trans 'Campaigns' %}</a>
        <div class=" absolute left-0 z-50 float-left hidden list-none p-0	 py-2 mt-1 text-base bg-white border border-grey-400 rounded">
        {% if nav_object %}
        <ul class="first">
            <li class="heading">{% trans "All Campaigns" %}</li>
            <li class="divider"></li>
        {% else %}
        <ul class="list-disc pl-4">
        {% endif %}
            <li><a href="{% url "campaign_monitor.campaign_index" %}">{% trans "Search Campaigns" %}</a></li>
            {% if can_add_campaign %}
                <li><a href="{% url "campaign_monitor.campaign_generate" %}">{% trans "Add Campaign" %}</a></li>
                <li><a href="{% url "campaign_monitor.campaign_sync" %}">{% trans "Sync Campaigns" %}</a></li>
                {% if cm_url %}
                <li class="divider"></li>
                <li><a href="{{ cm_url }}" target="_blank">{% trans "Go to Campaign Monitor" %}</a></li>
                {% endif %}
            {% endif %}
        </ul>
        {% comment %}
        {% if nav_object %}
            <ul class="list-disc pl-4">
                <li class="heading">{% trans "This Campaign" %}</li>
                <li class="divider"></li>
                <li><a href="{{ nav_object.get_absolute_url }}">{% trans "View Campaign Page" %}</a></li>
                <li><a href="{{ nav_object.preview_url }}">{% trans "View Preview" %}</a></li>
                {% if campaign.status == 'S' %}
                {% else %}
                <li><a class="option-link" href="{{ cm_url }}/createSend/snapshot.aspx?cID={{ nav_object.campaign_id }}">{% trans "View Snapshot" %}</a></li>
                {% endif %}
            </ul>
        {% endif %}
        {% endcomment %}
        </div>
    </li>
    <li class="relative" data-dropdown="dropdown">
        <a href="#" class=" inline-block w-0 h-0 ml-1 align border-b-0 border-t-1 border-r-1 border-l-1" data-toggle="relative">{% trans "Templates" %}</a>
        <ul class=" absolute left-0 z-50 float-left hidden list-none p-0	 py-2 mt-1 text-base bg-white border border-grey-400 rounded">
            <li><a href="{% url "campaign_monitor.template_index" %}">{% trans "Search Templates" %}</a></li>
            {% if can_add_template %}
                <li><a href="{% url "campaign_monitor.template_add" %}">{% trans "Add Template" %}</a></li>
                <li><a href="{% url "campaign_monitor.template_sync" %}">{% trans "Sync Templates" %}</a></li>
            {% endif %}
        </ul>
    </li>
</ul>
{% endif %}
