{% extends "accounts/base.html" %}
{% block title %}{% trans "Password Reset" %}{% endblock %}
{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}
{% block content %}
    <h2>{% trans "Forgot your password?" %}</h2>
    <p>{% trans "Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>
    <form class="form-horizontal" id="t-accounts-password-reset-form" method="post" action="">{% csrf_token %}
        {% for f in form %}
            {% if f.is_hidden %}
                {{ f }}
            {% else %}
                <div class="mb-4 {% if f.errors %}has-error{% endif %}">
                    <label for="{{ f.id_for_label }}" class="sm:w-1/5 pr-4 pl-4 control-label">{{ f.label }}</label>
                    <div class="sm:w-1/2 pr-4 pl-4">
                        {{ f }}
                        {% if f.errors %}
                            {% for field_error in f.errors %}
                                <span id="{{ f.id_for_label }}-help-block" class="help-block">{{ field_error }}</span>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="mb-4">
            <div class=":flex-growsm-offset-2 sm:w-1/2 pr-4 pl-4">
                <button type="submit" class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap py-2 px-4 rounded text-base leading-normal  text-blue-100 bg-blue-500 hover:bg-blue-400">{% trans "Reset my password" %}</button>
            </div>
        </div>
    </form>
    {% if from_registration %}
        <p><a href="{% url 'registration_register' %}?registration_approved=True">{% trans "I want to make a new account. Take me back to registration." %}</a></p>
    {% endif %}
    <p><a href="{% url 'auth_login' %}">{% trans "Log in" %}</a></p>
{% endblock %}
