{% load base_tags %}
{% load nav_tags %}
{% load box_tags %}
{% load theme_tags %}
<!-- start: navbar outer -->
<nav id="site-navbar" class="flex flex-wrap list-none p-0 pl-0 mb-0bar navbar-fixed-top navbar-expand-lg navbar-expand-md justify-content-between align-items-start">
<!-- logo -->
  <div class="flex flex-wrap list-none p-0 pl-0 mb-0bar-brand w-1/5" href="/">
    {% box 1 %}
  </div>
<!-- responsive btn -->
  <button class="flex flex-wrap list-none p-0 pl-0 mb-0bar-toggler" type="button" data-toggle="flex-growlapse" data-target="#navTop" aria-controls="navTop" aria-expanded="false" aria-label="Toggle navigation">
    <span class="flex flex-wrap list-none p-0 pl-0 mb-0bar-toggler-icon"></span>
  </button>
<!-- navigation -->
  <div class="flex flex-wrap list-none p-0 pl-0 mb-0bar-collapse w-1/2" id="navTop">
    <!-- main nav -->
    {% nav 1 %}
  </div>
</nav>
<!-- end: navbar outer -->
