@tailwind base;

a {
  @apply text-cyan;
}

p {
  @apply mb-3;
}
p:last-child {
  @apply mb-0;
}
:not(p) address {
  @apply flex flex-col items-center text-xl font-mono;
}
:not(p) address p {
  margin-bottom: -0.4em;
}
td address {
  @apply text-sm;
}

textarea {
  @apply border rounded-md px-1;
}
input {
  @apply border rounded-full px-1;
}
input[type="submit"] {
  @apply bg-green text-gray-900 text-2xl py-3 px-5 font-bold;
}
select {
  @apply border rounded-full px-1;
}
section {
  @apply mt-4;
}

@tailwind components;

.printable table {
  @apply w-full;
}

.dropdown {
  @apply relative;
}
.dropdown ul {
  @apply h-0 overflow-hidden transition-size ease-in-out duration-300 inline-block;
}
.dropdown:focus-within {
  @apply overflow-visible;
}
.dropdown:focus-within ul {
  height: auto;
  border: 1px solid rgba(38,49,56,0.15);
}

#t-admin-megamenu {
  @apply text-orange;
}
#t-admin-megamenu img.nav-logo {
  margin-left: 7px;
  margin-top: 3px;
  height: 24px;
}
#t-admin-megamenu .dropdown {
  @apply relative;
}
#t-admin-megamenu .dropdown-toggle {
  min-width: max-content;
}
#t-admin-megamenu .dropdown-menu {
  left: 0;
  top: 34px;
  @apply absolute;
  background-color: #fff;
}

.t-admin-inline {
  display: none !important; /* Remove this when the site is ready */
}

div.focuspoint {
  position: absolute;
  @apply w-full h-full;
}

.nav-icon {
  @apply w-4 h-4 inline-block;
}

.hero {
  @apply w-full max-h-screen min-h-64 flex flex-col items-center justify-center relative;
}

#hero-title {
  @apply font-serif font-bold text-gray-100 z-10;
  text-shadow: 1px 1px 2px #2d5c66;
}
#hero-nav ul {
  @apply flex-row flex-wrap justify-center;
}
#hero-nav ul.flex>li:not(:first-child) {
  @apply ml-8;
}
#hero-nav .btn {
  @apply bg-green text-gray-900;
}
#site-nav {
  pointer-events: none;
}
#site-nav .btn, #site-nav .btn a {
  @apply bg-blue text-gray-200;
  min-width: max-content;
  pointer-events: auto;
}
#site-nav ul.flex>li:not(:first-child) {
  @apply ml-6;
}
#site-nav .dropdown-menu {
  min-width: max-content;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  /* display: none; */
  float: left;
  padding: 0;
  margin: .125rem 0 0;
  font-size: .875rem;
  color: #465966;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: .25rem;
  pointer-events: all;
}
.dropdown-toggle::after {
  display: none; /* Remove after I stop using Bootstrap. */
}
#site-nav .dropdown-menu.show {
  display: block;
}

#site-footer {
  overflow: hidden;
}


@screen sm {
  #site-nav .dropdown-menu {
    @apply left-auto right-100 top-0;
  }
  #site-nav .btn {
    @apply text-lg py-2 px-3;
  }
  #site-nav ul.flex>li:not(:first-child) {
    @apply mt-4 ml-0;
  }
  .hero {
    @apply h-96;
  }
  #hero-title {
    @apply text-4xl max-w-sm;
  }
  #hero-nav .btn {
    @apply text-sm py-1 px-2;
  }
  #hero-nav ul.flex>li:not(:first-child) {
    @apply ml-4;
  }

  #t-admin-megamenu .nav-label, .t-admin-inline, #site-footer {
    @apply hidden;
  }
}
@screen md {
  #site-nav .btn {
    @apply text-base py-1 px-3;
  }
  #site-nav ul.flex>li:not(:first-child) {
    @apply ml-2;
  }
  .hero {
    @apply h-128;
  }
  #hero-title {
    @apply text-6xl max-w-lg;
  }
  #hero-nav .btn {
    @apply text-lg py-3 px-5 font-bold;
  }
  #hero-nav ul.flex>li:not(:first-child) {
    @apply ml-6;
  }

  #t-admin-megamenu .nav-label, .t-admin-inline, #site-footer {
    @apply hidden;
  }
}
@screen lg {
  #site-nav .btn {
    @apply text-lg py-1 px-3;
  }
  #site-nav ul.flex>li:not(:first-child) {
    @apply ml-6;
  }
  .hero {
    @apply h-64;
  }
  #front-page-hero {
    @apply h-96;
  }
  #hero-title {
    @apply text-title max-w-5xl;
  }
  #hero-nav .btn {
    @apply text-xl py-2 px-4 font-bold;
  }
  #hero-nav a {
    @apply text-teal;
  }

  #t-admin-megamenu .nav-label, .t-admin-inline, #site-footer {
    @apply inline-block;
  }
}
/* @media (orientation:landscape) {
  .hero {
    @apply h-screen;
  }
} */

@tailwind utilities;
