@tailwind base;

a {
  @apply text-cyan;
}

button:focus {
  outline: none;
}

p {
  @apply mb-3;
}
p:last-child {
  @apply mb-0;
}
:not(p) address {
  @apply flex flex-col items-center text-xl font-mono;
}
:not(p) address p {
  margin-bottom: -0.4em;
}
td address {
  @apply text-sm;
}

textarea {
  @apply border rounded-md px-1;
}
input {
  @apply border rounded-full px-1;
}
input[type="submit"] {
  @apply bg-green text-gray-900 text-2xl py-3 px-5 font-bold;
}
select {
  @apply border rounded-full px-1;
}
section {
  @apply mt-4;
}

ol {
  list-style-type: upper-roman;
}

@tailwind components;

.border-gradient {
  border: solid;
  border-image-slice: 1;
  border-width: 0 2px 3px 2px;
}
.border-gradient-b-green {
  border-image-source: linear-gradient(to top, rgba(115, 166, 136, 1), rgba(115, 166, 136, 0));
}

#brand-background {
  position: absolute;
  z-index: -10;
}
#brand-background circle {
  cx: 50;
  cy: 50;
  r: 50;
}

.printable table {
  @apply w-full;
}

.dropdown {
  @apply relative;
}
.dropdown ul {
  @apply h-0 overflow-hidden transition-size ease-in-out duration-300 inline-block;
}
.dropdown:focus-within {
  @apply h-auto;
}
.dropdown:focus-within ul {
  height: auto;
  border: 1px solid rgba(38,49,56,0.15);
}
#t-admin-megamenu {
  display: none !important;
  @apply text-orange;
  background-color: #4F4F4F;
  position: fixed;
  z-index: 100000;
  top: 0;
  width: 100%;
  height: 30px;
  padding: 0;
  margin: 0;
}
#t-admin-megamenu .navbar-header {
  height: 30px;
}
#t-admin-megamenu li {
  margin-right: 10px;
}
#t-admin-megamenu img.nav-logo {
  margin-left: 7px;
  margin-top: 3px;
  height: 24px;
}
#t-admin-megamenu .dropdown {
  @apply relative;
}
#t-admin-megamenu .dropdown-toggle {
  min-width: max-content;
}
#t-admin-megamenu .dropdown-menu {
  left: 0;
  top: 34px;
  @apply absolute;
  background-color: #fff;
}

.t-admin-inline {
  display: none !important; /* Remove this when the site is ready */
  bottom: -1.6rem;
  @apply absolute text-xs p-1;
}

div.focuspoint {
  @apply w-full h-full overflow-hidden absolute;
}

.nav-icon {
  @apply w-4 h-4 inline-block;
}

.hero {
  @apply w-full max-h-screen min-h-64 flex flex-col items-center justify-center relative;
}

#hero-title {
  @apply font-serif font-bold text-gray-100 z-10;
  text-shadow: 1px 1px 2px #2d5c66;
}
#hero-nav ul>li a {
  @apply inline-block bg-green text-blue text-xl font-semibold leading-relaxed rounded-md mt-2 ml-2 whitespace-no-wrap;
}
#hero-nav ul {
  @apply flex flex-row flex-wrap justify-center;
}
#hero-nav ul.flex>li:not(:first-child) {
  @apply ml-8;
}
#site-nav {
  pointer-events: none;
}
#site-nav ul>li a {
  @apply bg-blue text-gray-200;
  @apply transition-colors duration-100;
  min-width: max-content;
  pointer-events: auto;
}
#site-nav ul>li a:focus-within {
  @apply bg-teal text-gray-300;
}
#site-nav ul.dropdown-menu {
  @apply bg-gray-300 text-blue;
}
#site-nav ul.dropdown-menu>li a {
  @apply block w-full bg-gray-300 text-blue;
  min-width: max-content;
  pointer-events: auto;
}
#site-nav ul.dropdown-menu>li a:hover {
  @apply bg-blue text-gray-200;
}
#site-nav ul.flex>li:not(:first-child) {
  @apply ml-6;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  /* display: none; */
  float: left;
  padding: 0;
  margin: .125rem 0 0;
  font-size: .875rem;
  color: #465966;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: .25rem;
  pointer-events: all;
}
.dropdown-toggle::after {
  display: none; /* Remove after I stop using Bootstrap. */
}
#site-nav .dropdown-menu.show {
  display: block;
}

#site-footer {
  overflow: hidden;
}


@screen sm {
  #site-nav .dropdown-menu {
    @apply left-auto right-100 top-0;
  }
  #site-nav ul>li a {
    @apply text-lg py-2 px-3;
  }
  #site-nav ul.dropdown-menu>li a {
    @apply py-0;
  }
  #site-nav ul.flex>li:not(:first-child) {
    @apply mt-4 ml-0;
  }
  .hero {
    @apply h-96;
  }
  #hero-title {
    @apply text-4xl max-w-sm;
  }
  #hero-nav ul>li a {
    @apply text-sm py-1 px-2;
  }
  #hero-nav ul.flex>li:not(:first-child) {
    @apply ml-4;
  }

  #t-admin-megamenu .nav-label, .t-admin-inline, #site-footer {
    @apply hidden;
  }
}
@screen md {
  #site-nav ul>li a {
    @apply text-base py-1 px-3;
  }
  #site-nav ul.dropdown-menu>li a {
    @apply py-0;
  }
  #site-nav ul.flex>li:not(:first-child) {
    @apply ml-2;
  }
  .hero {
    @apply h-128;
  }
  #hero-title {
    @apply text-6xl max-w-lg;
  }
  #hero-nav ul>li a {
    @apply text-lg py-3 px-5 font-bold;
  }
  #hero-nav ul.flex>li:not(:first-child) {
    @apply ml-6;
  }

  #t-admin-megamenu .nav-label, .t-admin-inline, #site-footer {
    @apply hidden;
  }
}
@screen lg {
  #site-nav ul>li a {
    @apply text-lg py-1 px-3;
  }
  #site-nav ul.dropdown-menu>li a {
    @apply py-0;
  }
  #site-nav ul.flex>li:not(:first-child) {
    @apply ml-6;
  }
  .hero {
    @apply h-64;
  }
  #front-page-hero {
    @apply h-96;
  }
  #hero-title {
    @apply text-title max-w-5xl;
  }
  #hero-nav ul>li a {
    @apply text-xl py-2 px-4 font-bold;
  }

  #t-admin-megamenu .nav-label, .t-admin-inline, #site-footer {
    @apply inline-block;
  }
}
/* @media (orientation:landscape) {
  .hero {
    @apply h-screen;
  }
} */

@tailwind utilities;
