{% extends "redirects/base.html" %}
{% load styled_forms %}
{% load redirect_tags %}
{% block title %}{{ block.super }}{% trans 'Add' %}{% endblock %}
{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/redirects.css' %}">
{% endblock %}
{% block content %}
<div class="t">
    <h1 class="text-xl font-semibold">{% trans "Redirects Add" %}</h1>
	{% include 'redirects/cache_warning.html' %}
    <div class="redirect-wrap">
        <form action="{% url "redirect.add" %}" method="post">{% csrf_token %}
        <div class="forms">
            {{ form|styled_form }}
            <input class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap py-2 px-4 rounded text-base leading-normal  text-blue-100 bg-blue-500 hover:bg-blue-400" type="submit" value="{% trans 'Add Redirect' %}" />
        </div>
        </form>
    </div>
</div>
{% endblock %}
