{% extends "accounts/base.html" %}
{% block title %}{% trans "Password reset" %}{% endblock %}
{% block content %}
    {% if validlink %}
        <h1 class="text-xl font-semibold">{% trans "Enter new password" %}</h1>
        <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
        <form id="t-accounts-password-reset-confirm" class="form-horizontal" action="" method="post">{% csrf_token %}
            <div class="mb-4 {% if form.new_password1.errors %}has-error{% endif %}">
                <label for="{{ form.new_password1.id_for_label }}" class="sm:w-1/4 pr-4 pl-4 control-label">{% trans "New password" %}</label>
                <div class="sm:w-1/2 pr-4 pl-4">
                    {{ form.new_password1 }}
                    {% if form.new_password1.errors %}
                        <p id="{{ form.new_password1.id_for_label }}-help-block" class="help-block">
                            {{ form.new_password1.errors.as_text }}
                        </p>
                    {% endif %}
                </div>
            </div>
            <div class="mb-4 {% if form.new_password2.errors %}has-error{% endif %}">
                <label for="{{ form.new_password2.id_for_label }}" class="sm:w-1/4 pr-4 pl-4 control-label">{% trans "Confirm password" %}</label>
                <div class="sm:w-1/2 pr-4 pl-4">
                    {{ form.new_password2 }}
                    {% if form.new_password2.errors %}
                        <p id="{{ form.new_password2.id_for_label }}-help-block" class="help-block">
                            {{ form.new_password2.errors.as_text }}
                        </p>
                    {% endif %}
                </div>
            </div>
            <div class="mb-4">
                <div class=":flex-growsm-offset-3 sm:w-1/2 pr-4 pl-4">
                    <button type="submit" class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap py-2 px-4 rounded text-base leading-normal  text-blue-100 bg-blue-500 hover:bg-blue-400">{% trans "Change my password" %}</button>
                </div>
            </div>
        </form>
    {% else %}
        <h1 class="text-xl font-semibold">{% trans "Password reset unsuccessful" %}</h1>
        <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
    {% endif %}
{% endblock %}
