{% extends "profiles/base.html" %}
{% load perm_tags %}
{% load profile_tags %}
{% block title %}{% trans "Password change" %}{% endblock %}
{% block extra_head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/iconrow.css' %}">
    <link rel="stylesheet" href="{% static 'css/profiles.css' %}">
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock %}
{% block content %}
    {# TODO: users_options templates to bootstrap markup #}
    {% users_options request.user user_this %}
    <h1 class="text-xl font-semibold">{% trans "Reset Password for " %}<a href="{{ user_this.get_absolute_url }}">{{ user_this.first_name }} {{ user_this.last_name }}</a></h1>
    <form id="t-accounts-password-change-form" class="form-horizontal" action="" method="post">{% csrf_token %}
        {% if not request.user.is_superuser %}
            <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
        {% else %}
            <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
        {% endif %}
        {% if form.errors %}
            <div class="relative px-3 py-3 mb-4 border rounded text-red-800 border-red-600 bg-red-200" role="alert">{% spaceless %}
                {% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
            {% endspaceless %}</div>
        {% endif %}
        {% if not request.user.is_superuser %}
            {% trans "Old password" as field_label %}
            {% include "base/bootstrap_form_horizontal_field.html" with field=form.old_password field_label=field_label inline_errors=True %}
        {% endif %}
        {% trans "New password" as field_label %}
        {% include "base/bootstrap_form_horizontal_field.html" with field=form.new_password1 field_label=field_label inline_errors=True %}
        {% trans "Password (again)" as field_label %}
        {% include "base/bootstrap_form_horizontal_field.html" with field=form.new_password2 field_label=field_label inline_errors=True %}
        <div class="mb-4">
            <div class=":flex-growsm-offset-3 sm:w-3/4 pr-4 pl-4">
                <button type="submit" class="inline-block align-middle text-center select-none border font-normal whitespace-no-wrap py-2 px-4 rounded text-base leading-normal  text-blue-100 bg-blue-500 hover:bg-blue-400" id="t-accounts-create-account-btn">{% trans "Change Password" %}</button>
            </div>
        </div>
    </form>
{% endblock %}
{% block extra_body %}
    {{ block.super }}
    <script>
        $(function () {
            /// Autofocus old_password field
            $('#id_old_password').trigger("focus");
        });
    </script>
{% endblock %}
