<style>
    meter.airbnb {
        background-image: url({% static "webfonts/font-awesome/fa-duotone-900.svg#home-heart" %}) 0 / auto 100%;
    }
</style>
<section class="grid grid-cols-5 gap-4"
    data-isotope='{ "itemSelector": ".directory-listing", "layoutMode": "fitRows" }'>
    {% for room in rooms %}
        <article class="directory-listing flex flex-col items-center">
            <a href="{{ room.url }}">
                <div class="h-thumbnail w-thumbnail flex flex-col justify-center">
                    <img
                    class=""
                    src="{{ room.picture_url }}"
                    alt="{% firstof room.name trans 'Untitled' %}">
                </div>
            </a>
        
            <address class="flex flex-col text-center">
            <a href="{{ room.url }}">
                <span class="text-2xl inline-block">
                    {% firstof room.name trans "Untitled" %}
                </span>
            </a>
            </address>
            <div class="meta flex flex-row justify-between">
                <div class="flex flex-col">
                    <meter class="airbnb" min="1" max="5" value="{{ room.avg_rating }}"></meter>
                    <div>{{ room.reviews_count }}</div>
                </div>
                <div>{{ room.price }} / night</div>
            </div>
        </article>
    {% endfor %}
</section>