{% load custom_dir_tags %}
<style>
    meter.airbnb {
        background-image: url({% static "webfonts/font-awesome/fa-duotone-900.svg#home-heart" %}) 0 / auto 100%;
    }
</style>

<section class="grid grid-cols-5 sm:grid-cols-2 gap-4" data-target="sorting.grid">
    {% for id, room in rooms.items %}
        <article id="room-{{ id }}" class="border border-opacity-50 flex flex-col items-center justify-between p-2"
        data-target="sorting.item"
        data-sorting-metadata="{{ room.sorting }}">
            <a href="{{ room.url }}">
                <div>
                    <picture class="h-full w-full">
                        <source srcset="{{ room.picture_url | imgproxy:"thumb" }}">
                        <img src="{{ room.picture_url }}" alt="{% firstof room.name trans "Untitled" %}">
                    </picture>
                </div>
            </a>
        
            <address class="flex flex-col text-center">
            <a href="{{ room.url }}">
                <span class="text-xl inline-block">
                    {% firstof room.name trans "Untitled" %}
                </span>
            </a>
            </address>
            <aside class="w-full">
                <div class="badges flex flex-col w-full px-2 items-center">
                    {% if room.superhost %}
                        <p><i class="fad fa-medal"></i> Superhost!</p>
                    {% endif %}
                </div>
                <div class="meta flex flex-row justify-between w-full px-2 items-center">
                    <div class="flex flex-col">
                        <meter class="airbnb" min="1" max="5" value="{{ room.avg_rating }}"></meter>
                        <div>{{ room.reviews_count }} reviews!</div>
                    </div>
                    <div class="text-orange text-lg">{{ room.price_string }} / night</div>
                </div>
            </aside>
        </article>
    {% endfor %}
</section>
