{% extends "base-print.html" %}
{% load base_tags %}
{% load base_filters %}
{% load bootstrap_pagination_tags %}
{% load directory_tags %}
{% load search_tags %}

{% load cstreet_tags %}
{% load custom_dir_tags %}


{% block title %}
    {% if MODULE_DIRECTORIES_LABEL_PLURAL %}
        {% blocktrans %}{{ MODULE_DIRECTORIES_LABEL_PLURAL }} List{% endblocktrans %}
    {% else %}
        {% trans "Directories List" %}
    {% endif %} - {{ block.super }}
{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <link rel="alternate" type="application/rss+xml" title="{% trans 'Latest' %}  {% firstof MODULE_DIRECTORIES_LABEL_PLURAL trans 'Directories' %}" href="{% url 'directory.feed' %}" />
{% endblock %}

{% block content_classes %}{{ block.super }} t-search-view{% endblock %}

{% block content %}
<div class="printable">
    <div class="hero relative w-full">
        <div class="focuspoint"
            data-focus-x="{{ focus.x }}" data-focus-y="{{ focus.y }}"
            data-image-w="{{ size.w }}" data-image-h="{{ size.h }}">
            <img src="{% static hero %}">
        </div>

        <h1 id="hero-title" class="text-center">{{headline}}</h1>
      </div>
    <table>
        <tbody>
            {% for directory in directories %}
            <tr class="directory-listing font-mono">
                <td class="text-teal text-xl font-bold font-serif"><a href="{{ directory.slug }}">{{ directory.headline }}</a></td>
                <td>
                    <address>
                        {{ directory.address }}<br>
                        {{ directory.city }}, {{ directory.state }} {{ directory.zip_code }}
                    </address>
                </td>
                <td>{{ directory.phone | phonenumber }}</td>
                <td>{{ directory.email|obfuscate_email }}</td>
                <td>{{ directory.website }}</td>
                <td>
                    {% if directory.facebook %}
                    <div class="px-2">
                        <a href="{{directory.facebook}}" class="text-teal">
                            <i class="fab fa-facebook"></i> {{directory.facebook | social_name}}
                        </a>
                    </div>
                    {% endif %}
                </td>
                <td>
                    {% if directory.instagram %}
                    <div class="px-2">
                        <a href="{{directory.instagram}}" class="text-teal">
                            <i class="fab fa-instagram"></i> {{directory.instagram | social_name}}
                        </a>
                    </div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

    {% paginate %}
{% endblock %}
