{% extends "directories/base.html" %}
{% load base_filters %}
{% load base_tags %}
{% load directory_tags %}
{% load cstreet_tags %}

{% block title %}{{ directory.name }}{% endblock %}
{% block meta_description %}{{ directory.get_description }}{% endblock %}
{% block meta_keywords %}{{ directory.get_keywords }}{% endblock %}
<!-- {% block meta_canonical_url %}<link rel="canonical" href="{{ directory.get_canonical_url }}">{% endblock %} -->

{% block hero %}
  <div class="focuspoint"
    data-focus-x=".50" data-focus-y="0.5"
    data-image-w="" data-image-h="">
    <img src="{{ directory.name | local_hero }}">
  </div>

  <h1 id="hero-title">{{ directory.name }}</h1>
{% endblock %}

{% block content %}
  <article class="">
    {{ directory.body|safe }}

    {% gallery query=directory.name %}

    {% include "directories/meta.html" with show_source=True show_contact=True %}
  </article>
{% endblock %}

{% block sidebar %}
  {% if directory.logo %}
    <img class="" src="{{ directory.get_logo_url }}" alt="{{ directory.name|truncatechars:123 }}" title="{{ directory.name|truncatechars:123 }}">
  {% endif %}

  <address class="font-serif lg:text-2xl text-gray-100">
      <!-- {% if directory.first_name and directory.last_name %}
          <p class="font-bold">{{ directory.first_name }} {{ directory.last_name }}</p>
      {% endif %} -->

      {% if directory.address %}
          <p class="">{{ directory.address }}</p>
      {% endif %}

      {% if directory.city or directory.state or directory.zip_code %}
          {% if directory.city %}
            <p class="">{{ directory.city }}, {{ directory.state }} {{ directory.zip_code }}</p>
          {% endif %}
      {% endif %}

      {% if directory.phone %}
          <p class="">{{ directory.phone|phonenumber }}</p>
      {% endif %}

      {% if directory.phone2 %}
          <p class="">{{ directory.phone2|phonenumber }}</p>
      {% endif %}

      {% if directory.email %}
          <p class="">{{ directory.email|obfuscate_email }}</p>
      {% endif %}

      {% if directory.email2 %}
          <p class="">{{ directory.email2|obfuscate_email }}</p>
      {% endif %}

      {% if directory.website %}
          <p class="">{{ directory.website }}</p>
      {% endif %}
  </address>

  {% if directory.has_social_media %}
    {% include "directories/include/social_media_links.html" %}
  {% endif %}
{% endblock %}
