{% load base_tags %}
{% load base_filters %}
{% if user.is_authenticated %}
    <ul class="list-unstyled">
      {% if not user.profile.is_superuser %}
      {% if user == staff.creator or user == staff.owner %}
      <div class="categories">
        <strong>{% trans "Owned by you" %}</strong>{% if not staff.status_detail == "active" %} - {% trans "status" %}: {{ staff.obj_status }}{% endif %}
      </div>
      {% endif %}
      {% endif %}
      {% if user.profile.is_superuser or user == staff.creator or user == staff.owner %}
      {% meta_creator_owner staff %}
      {% endif %}
      {% endif %}
    </ul>
    {% if user.profile.is_superuser %}
    <nav class="flex flex-wrap list-none p-0 pl-0 mb-0bar navbar-default t-meta-editor-bar">
        <div class="container mx-auto mx-auto">
            <div class="flex-growlapse flex flex-wrap list-none p-0 pl-0 mb-0bar-collapse">
                <ul class="flex flex-wrap list-reset pl-0 mb-0 flex flex-wrap list-none p-0 pl-0 mb-0 t-meta-options-links">
			      <li>{{ staff.obj_perms }}</li>
			      <li>{{ staff.obj_status }}</li>
			    </ul>
    <ul class="flex flex-wrap list-reset pl-0 mb-0 flex flex-wrap list-none p-0 pl-0 mb-0 navbar-right t-meta-options-links">
      <li class="relative">
        <a href="#" class=" inline-block w-0 h-0 ml-1 align border-b-0 border-t-1 border-r-1 border-l-1" data-toggle="relative" role="button" aria-expanded="false">{% spaceless %}
          {% trans "Options" %} <span class="caret"></span>
          {% endspaceless %}</a>
        <ul class=" absolute left-0 z-50 float-left hidden list-none p-0	 py-2 mt-1 text-base bg-white border border-grey-400 rounded" role="menu">
          <li><a class="delete" href="{% url "admin:staff_staff_delete" staff.pk %}">{% trans "Delete" %}</a></li>
          <li><a class="t-meta-eventlog-link" href="{% url "event_log.search" %}?object_id={{ staff.pk }}&source={{ staff.opt_app_label }}">{% trans "Eventlogs" %}</a></li>
          <li><a class="t-meta-edit-link" href="{% url "admin:staff_staff_change" staff.pk %}?next={{ request.path }}">{% trans "Edit" %}</a></li>
        </ul>
      </li>
    </ul>
    </div>
    </div>
    </nav>
{% endif %}
