{% load nav_tags %}
{% if nav_id %}
    {% if cached %}
        {{ cached|safe }}
    {% else %}
        {% load_nav nav_id show_title %}
    {% endif %}
    {% if user.profile.is_superuser %}
        <!-- <div> -->
          <a href="{% url 'navs.edit_items' nav_id %}?next={{ request.path }}" title="{% trans 'Edit Nav' %}" class="t-admin-inline inline-block align-middle text-center select-none border font-normal whitespace-no-wrap py-2 px-4 rounded text-base leading-normal  text-red-600 border-red-500 bg-white hover:bg-red-400 hover:text-red-800 py-1 px-2 text-sm leading-tight">{% trans "Edit flex flex-wrap list-reset pl-0 mb-0" %}</a>
        <!-- </div> -->
    {% endif %}
{% endif %}
